h1,h2,h3{
    text-align: center;
    color: blue;
    background-color:rgb(139, 163, 155)
}
footer{
    text-align: center;
    background-color: aqua;
    color: black;
}
p{
    text-align: center;
    color: rgb(42, 35, 35);
}
body{
    background-color: antiquewhite;
}
image{
    padding: 10px;
}